extends template
block content
    div
        br
        p Hey #{user.name},
        | Great new!
        | U are add new position in our shop:
        br
        br
        | Titile: #{product.title}
        br
        | Prise: #{product.price}$
        br
        | Description: #{product.description}
        br
        br
        | Good job, see u later!
