extends template
block content
    div
        br
        p Hey #{user.name}
        | Sad news =(
        br
        | U are delete #{product.title} in our shop <3 Why? :-(
        br
        br
        | Good job, #{user.name}!
