extends template
block content
    div.footer
        img.img(src='https://www.eubce.com/wp-content/uploads/2020/05/Registration-Banner_Tavola-disegno-1.png')
        br
        h4 Hey, #{user.name}, thanks for registration!
        h3 Your email: #{user.email}
        |  Welcome in our somesite.com site <3
        br
        h4 Enjoy YOURSELF!
