doctype html
html
    head
        style
            include templatesStyle.css
        body
            div.footer
                block content
                    div
                        | Best regards,
                        br
                        | TrueNodeMailSender Team <3
                        | a(href='some.com') our fail sad site <3
