doctype html
html
    head.footer
        style
            include templatesStyle.css
        body.footer
            div
                block content
                    div
                        | Best regards,
                        br
                        | TrueNodeMailSender Team <3
                        | a(href='some.com') our fail sad site <3
