extends template
block content
    div
        br
        p Hey, great news!
        | U are update some information in your profile <3
        | check info:
        br
        | Your name: #{userName}
        br
        | Your surname: #{userSurname}
        br
        | Your email: #{userEmail}
        br
        | Good job, see u later!
