extends template
block content
    div
        br
        p Hey,
        | U are update some information in your profile <3
        br
        br
        | check info:
        br
        | Your name: #{user.name}
        br
        | Your surname: #{user.surname}
        br
        | Your email: #{user.email}
        br
        br
        | Good job, see u later!
