extends template
block content
    div
        br
        p Hey #{user.name},
        | Please update photo by product
        | Title: #{product.title}
        br
        | Price: #{product.price}$
        br
        | Description: #{product.description}

